@tailwind base;
@tailwind components;
@tailwind utilities;

/* This will nuke the number spinner for all browsers */
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}
